<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      IRIS
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item"></div>
      <div class="navbar-item tabs-item">
        <div class="tabs is-medium is-centered">
          <ul>
            <li *ngFor="let item of menu.items">
              <a [ngClass]="{'is-active': item.name == current}" [routerLink]="item.url" (click)="setCurrent(item)">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">akhellas@gmail.com</a>
        <div class="navbar-dropdown is-right">
            <a class="navbar-item">
              Προτιμήσεις
            </a>
            <a class="navbar-item">
              Στοιχεία Επικοινωνίας
            </a>
            <a class="navbar-item">
                Αντικατάσταση
              </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Αποσύνδεση
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>