<nav class="navbar is-fixed-top is-dark">

  <div class="navbar-brand">
      <a class="navbar-item" (click)="toggleMenu()">
        <span class="icon">
            <i class="fa fa-bars"></i>
          </span>
      </a>
    <a class="navbar-item" href="/">
      IRIS
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item is-expanded"></div>
      <a class="navbar-item app-navbar-item" *ngFor="let item of menu.items" [routerLink]="item.url" routerLinkActive="is-active" (click)="setCurrent(item)">{{item.name}}</a>
      <div class="navbar-item is-expanded"></div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
            <span class="icon">
                <i class="fa fa-user"></i>
              </span>
          akhellas@gmail.com
        </a>
        <div class="navbar-dropdown is-right">
            <a class="navbar-item">
              Προτιμήσεις
            </a>
            <a class="navbar-item">
              Στοιχεία Επικοινωνίας
            </a>
            <a class="navbar-item">
                Αντικατάσταση
              </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Αποσύνδεση
            </a>
          </div>
      </div>
    </div>

  </div>

</nav>