@charset 'utf-8'

@import "../node_modules/bulma/sass/utilities/initial-variables"
@import "../node_modules/bulma/sass/utilities/functions"

@import "../node_modules/bulma/sass/utilities/derived-variables"

//custom variables


//overrides here


@import '../node_modules/bulma/bulma'

html
    height: 100%
    overflow: hidden
    -webkit-scrollbar
        display: none

body
    //height: 100% //calc(100vh - 5rem)
    overflow: hidden
    -webkit-scrollbar
        display: none

.has-navbar-fixed-bottom
    padding-bottom: 1.75rem !important

.column
.is-fullheight
    min-height: calc(100vh - 5rem) !important

.hero
.is-fullheight
    min-height: calc(100vh - 5rem) !important
