<aside class="menu">
  <p class="menu-label">ΔΗΜΙΟΥΡΓΙΑ</p>
  <ul class="menu-list">
    <li>
      <a>Νέο</a>
    </li>
    <li>
      <a>Εισαγωγή</a>
    </li>
    <li>
      <a>Πρόχειρα</a>
    </li>
  </ul>
  <p class="menu-label">ΕΙΣΕΡΧΟΜΕΝΑ</p>
  <ul class="menu-list">
    <li>
      <a>Για Ενέργεια</a>
    </li>
    <li>
      <a>Για Κοινοποίηση</a>
    </li>
  </ul>
  <p class="menu-label">ΕΞΕΡΧΟΜΕΝΑ</p>
  <ul class="menu-list">
    <li>
      <a>Για Υπογραφή</a>
    </li>
    <li>
      <a>Σε εξέλιξη</a>
    </li>
    <li>
      <a>Για Διανομή</a>
    </li>
  </ul>
  <p class="menu-label">ΑΡΧΕΙΟ</p>
  <ul class="menu-list">
    <li>
      <a>Εισερχόμενα</a>
    </li>
    <li>
      <a>Εξερχόμενα</a>
    </li>
    <li>
      <a>Αναζήτηση</a>
    </li>
  </ul>
  <p class="menu-label">ΔΙΑΦΟΡΑ</p>
  <ul class="menu-list">
    <li>
      <a>Πρωτόκολλο</a>
    </li>
    <li>
      <a>Βιβλιοθήκη</a>
    </li>
  </ul>
</aside>